<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - Flask Admin Template</title>
  <!-- css Begin -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fa/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- css End -->
</head>


<body>
  <div class="accountbg"></div>
  <div class="wrapper-page">
    <div class="card auth-card shadow-none">
      <div class="card-body">
        <div class="text-center m-t-0 m-b-15">
          <div class="logo logo-admin"><img src="{{ url_for('static', filename="img/aurora.png") }}" alt="" height="64"></div>
        </div>
        <h5 class="font-18 text-center auth-title">{% block auth_title %}{% endblock auth_title %}</h5>
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>

  <!-- js引用 -->
  <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
  <!-- /.结束js引用 -->
</body>
</html>