<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  {# 移动端自适应 #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock title %} - Flask Admin Template</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
  <!-- FontAwesome图标 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fa/css/all.min.css') }}">
  <!-- sweetalert2弹窗 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.css') }}">
  <!-- adminlte主样式 -->
{#  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.css') }}">#}
  <!-- 自定义样式 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body class="hold-transition sidebar-mini">
  <!-- 整体页面 -->
  <div class="wrapper">
    <!-- 固定顶部导航 -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- 左侧导航链接 -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn" data-widget="pushmenu" ><i class="fas fa-bars fa-lg"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{{ url_for('public.admin') }}" class="nav-link">首页</a>
        </li>
      </ul>
      <!-- 右侧导航链接 -->
      <ul class="navbar-nav ml-auto">
        <!-- 如果已登录，显示用户信息下拉菜单 -->
        <li class="nav-item dropdown">
          {% if current_user and current_user.is_authenticated %}
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fas fa-user-circle fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <div class="dropdown-item">
                <div class="media">
                  <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="Avatar" class="img-size-64 mr-3 img-circle">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">{{ current_user.username }}</h3>
                    <p class="text-sm">{{ current_user.email }}</p>
                    <div class="row">
                      <div class="col-6">
                        <a href="{{ url_for('public.admin') }}"><i class="fas fa-home"></i>首页</a>
                      </div>
                      <div class="col-6">
                        <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i>退出</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown-item">
                <p>aaa</p>
              </div>
            </div>
          {% else %}
            <a class="nav-link">
              <i class="fas fa-user-slash fa-lg"></i>
            </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <!-- /.结束固定顶部导航 -->

    <!-- 侧栏 -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- 商标部分 -->
      <div class="brand-link">
        <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="Logo" class="brand-image img-circle elevation-3"
             style="opacity: .9">
        <span class="brand-text font-weight-light">Flask Admin</span>
      </div>
      <!-- 侧栏菜单 -->
      <div class="sidebar">
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>菜单一<i class="right fas fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  {# TODO 二级／三级页面缩进 #}
                  <a href="#" class="nav-link active">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>活动页面</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>非活动页面</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>示例链接<span class="right badge badge-danger">新</span></p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /.结束侧栏菜单 -->
    </aside>
    <!-- /.结束侧栏 -->

    <!-- 主内容页面包装-->
    <div class="content-wrapper">
      <!-- 页面头部信息 -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% block content_title %}{% endblock content_title %}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">{% block content_locator %}{% endblock content_locator %}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- /.结束页面头部信息 -->
      <!-- 页面内容，子节点为每个页面需要填充的具体内容 -->
      <div class="content">
{#        <div class="notify">#}
{#          {% with messages = get_flashed_messages() %}#}
{#            {% if messages %}#}
{#              {% for message in messages %}#}
{#                <li>{{ message }}</li>#}
{#              {% endfor %}#}
{#            {% endif %}#}
{#          {% endwith %}#}
{#        </div><!-- /.notify -->#}

        {% block content %}{% endblock content %}

      </div> <!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- 固定底栏-->
    <footer class="main-footer">
      <!-- 左侧信息 -->
      <strong>Copyright &copy; 2019 <a href="https://github.com/waynnne/flask-web-template" target="_blank">FlaskAdminTemplate</a>.</strong> <a>All rights reserved.</a>
      <!-- 右侧信息 -->
      <div class="float-right d-none d-sm-inline">About Github</div>
    </footer>
    <!-- /.结束固定底栏-->
  </div>
  <!-- /.结束整体页面 -->

  <!-- js引用 -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
  <!-- /.结束js引用 -->

  <script type="text/javascript">
    const Toast = Swal.mixin({
      toast: true,
      position: 'top',
      showConfirmButton: false,
      timer: 3000
    })

    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        var msg = '{{ message }}'
        if (msg != '' && msg.indexOf('登录') != -1) {
          setTimeout(function () {
            console.log("登录信息 ==> " + msg)
            Toast.fire({
              icon: 'success',
              title: msg
            })
          }, 200)
        }
      {% endfor %}
    {% endwith %}

  </script>
  {% endblock scripts %}

</body>
</html>