<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <title>{% block title %}{% endblock title %} - Flask Admin Template</title>
  <!-- css Start -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fa/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/metismenu/metismenu.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- css End -->
</head>

<body>
  <!-- Begin page -->
  <div id="wrapper">
    <!-- --------- Top Bar Start --------- -->
    <div class="topbar">
      <!-- logo -->
      <div class="topbar-left">
        <a href="#" class="logo">
{#          <span class="logo-light"><i class="fa fa-adn"></i> Aurora</span>#}
          <span class="logo-light"><img src="{{ url_for('static', filename='img/logo-r.png') }}" alt="logo">Aurora</span>
          <span class="logo-sm"><img src="{{ url_for('static', filename='img/logo-r.png') }}" alt="logo"></span>
        </a>
      </div>
      <!-- navbar-custom -->
      <nav class="navbar-custom">
        <!-- open-left -->
        <ul class="list-inline menu-left mb-0">
          <li class="float-left">
            <button class="button-menu-mobile open-left waves-effect">
              <i class="fa fa-bars"></i>
            </button>
          </li>
        </ul>
        <!-- navbar-right -->
        <ul class="navbar-right list-inline float-right mb-0">
          <!-- notification-list -->
          <li class="notification-list dropdown list-inline-item">
            <a class="nav-link dropdown-toggle arrow-none notification-icon waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <i class="fa fa-commenting-o fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg px-1">
              <!-- item-->
              <h6 class="dropdown-item-text">通知</h6>
              <div class="notification-item-list">
                <!-- item-->
                <div class="dropdown-item notify-item active">
                  <div class="notify-icon bg-success"></div>
                  <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                </div>
                <!-- item-->
                <div class="dropdown-item notify-item active">
                  <div class="notify-icon bg-success"></div>
                  <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                </div>
              </div>
              <a href="#" class="dropdown-item text-center notify-all text-primary"> 查看全部 </a>
            </div>
          </li> <!-- /.notification-list -->
          <!-- profile-dropdown -->
          <li class="profile-dropdown dropdown list-inline-item">
            <div class="dropdown notification-list nav-pro-img">
              <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                欢迎, {{ current_user.username }} &#8204;
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                <!-- item-->
                <div class="profile-avatar">
                  <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="user">
                </div>
                <div class="profile-footer">
                  <a class="btn btn-light waves-effect profile-home" href="{{ url_for('public.admin') }}"><i class="fa fa-home"></i> 首页</a>
                  <a class="btn btn-light waves-effect profile-logout" href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i> 退出</a>
                </div>
              </div>
            </div>
          </li> <!-- /.profile-dropdown -->
        </ul>
      </nav><!-- /.navbar-custom -->
    </div>
    <!-- --------- Top Bar End --------- -->

    <!-- --------- Left Sidebar Start --------- -->
    <div class="left side-menu">
      <div class="slimscroll-menu" id="remove-scroll">
        <!-- Left Menu Start -->
        <div id="sidebar-menu">
          <ul class="metismenu" id="side-menu">
            <!-- 控制台 -->
            <li>
              <a href="{{ url_for('public.admin') }}" class="waves-effect">
                <i class="fa fa-th-large"></i><span class="badge badge-success badge-pill float-right">9+</span> <span> 控制台 </span>
              </a>
            </li>
            <!-- 邮箱 -->
            <li>
              <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope"></i><span> 演示 <span class="float-right menu-arrow"><i class="fa fa-chevron-right"></i></span> </span></a>
              <ul class="submenu">
                <li><a href="{{ url_for('public.modal') }}">Modal</a></li>
                <li><a href="{{ url_for('public.index') }}">Card</a></li>
              </ul>
            </li>
            <!-- 多级菜单 -->
            <li>
              <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-magic"></i><span> 多级菜单 <span class="float-right menu-arrow"><i class="fa fa-chevron-right"></i></span> </span></a>
              <ul class="submenu">
                <li><a href="javascript:void(0);"> Menu 1</a></li>
                <li>
                  <a href="javascript:void(0);">Menu 2  <span class="float-right menu-arrow"><i class="fa fa-chevron-right"></i></span></a>
                  <ul class="submenu">
                    <li><a href="javascript:void(0);">Menu 2.1</a></li>
                    <li><a href="javascript:void(0);">Menu 2.1</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- 源码 -->
            <li>
              <a href="https://github.com/waynnne/flask-admin-template" target="_blank" class="waves-effect">
                <i class="fa fa-th-large"></i><span class="badge badge-success badge-pill float-right">?</span> <span> 查看源码 </span>
              </a>
            </li>
          </ul><!-- /.metismenu -->
        </div>
        <!-- Left Menu End -->

        <!-- Sidebar -->
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- --------- Left Sidebar End --------- -->

    <!-- --------- Main Content Start --------- -->
    <div class="content-page">
      <!-- content -->
      <div class="content">
        <div class="container-fluid">
          <div class="page-title-box">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <h4 class="page-title">{% block content_title %}{% endblock content_title %}</h4>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                  <li class="breadcrumb-item"><a href="{{ url_for('public.admin') }}">首页</a></li>
                  <li class="breadcrumb-item active">{% block content_locator %}{% endblock content_locator %}</li>
                </ol>
              </div>
            </div> <!-- /.row -->
          </div> <!-- /.page-title -->
          {% block content %}{% endblock content %}
        </div> <!-- /.content -->
      </div>
      <!-- footer -->
      <footer class="footer">
        © 2019 Waynnne - All Rights Reserved.
      </footer>
    </div>
    <!-- --------- Main Content End --------- -->
  </div>
  <!-- End page -->

  <!-- js Start -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jquery/jquery.slimscroll.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/metismenu/metismenu.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/waves.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script type="text/javascript">
  </script>
  {% endblock scripts %}
  <!-- js End -->
</body>
</html>